@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* font stayling code */
.jersey-15-regular {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
}


/* header stayling code*/
header{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: #2a7cb3cb;
}
/* logo stayl code  */
.logo{
    width: 60dvh;
    text-transform:uppercase;   
    display: inline-flex;
    align-items: center;    
}
.logo img{
    margin-left: 50px;
    height: 70px;
    width: 70px;
}
.logo h1{
    height: 50px;
    color: white;
}

header .serchdiv{
    width: 90%;
    height: 60%;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 100px;
    background-color: white;
}
header .serchdiv img{
    margin-left: 20px;
    width: 30px;
    height: 30px;
}
header .serchdiv input{
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    border: none;
    outline: none;
}
header .serchdiv input::placeholder{
    color: black;
    padding-left: 10px;
    font-size: 1.2em;
    text-transform: capitalize;
}
header input{
    border-radius: 15%;
    border-radius: 50px;
    width: 80%;
    height: 80%;
}
/* section tag stayling start */
section .sec1{
    height: 505px;
    width: 100%;
    background-color: #C4D9FF;
    /* display: inline-flexs; */
}
section .manu{
    height: 505px;
    width: 27%;
    display: inline-flex;
    flex-wrap: wrap;
    /* background-color: #A6CDC6; */
}

section .manu .manu1{
    height:120px;
    width: 90%;
    font-size: 1.3em;
    margin: 22px 20px;
    padding: 0px 10px;
    border-radius:20px;
    text-align: center;
    background-color:#E8F9FF ;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize; 
}
.task{
    display: inline-flex;
    width: 72.5%;
    height: 500px;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
}
.main1{
    width: 95%; 
    height: 360px;
    margin-top: 39px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* border: 2px solid black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #E8F9FF;
}
.main2{
    height: 50px;
    width: 157dvh;
    /* border: 2px solid black; */
    display:inline-flex;
    align-items: center;
    justify-content: center;    
}
.main2 input{
    border-radius: 15%;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    width: 85%;
    height: 85%;
    font-size: 1.2em;
}
.main2 input::placeholder{
    color: black;
    border: none;
    padding-left: 20px;
    font-size: 1.1em;
    text-transform: capitalize;
}
.main2 button img{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 30px;
}
.main2 #added{
    background-color: transparent;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 5px;
    border: none;
    background-color: white;
}

/* styling of li tag that created by js. */

.pera{
    padding-left: 20px;
    border-radius: 20px;
    margin: 10px 0px 20px 20px;
    width:97%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    background-color: white;
}
.btnsize{
    font-size: 20px;
    font-weight: 150;
    height: 40px;
    width: auto;
    border: none;
    background-color: white;
    border-radius: 10px;
    text-transform: capitalize;
    margin-left: 10px;
}

.important {
    background-color: yellow;
    font-weight: bold;
}
.p{
    height: 50px;
    width: 55%;
    max-width: 70%;
    display: flex;
    align-items: center;
    font-size: 1.3em;
    font-family: 'Times New Roman', Times, serif;
    flex-grow: 1;
}
